swagger: '2.0'
info:
  title: Kaardid
  description: API description in Markdown.
  version: 1.0.0
host: deckofcardsapi.com
basePath: /api
schemes:
  - https
paths:
  /deck/new/shuffle/:
    get:
      parameters:
        - name: deck_count
          in: query
          required: true
          type: integer
          default: 1
          collectionFormat: multi
        - name: cards
          in: query
          required: true
          type: string
          collectionFormat: multi
      responses:
        200:
          description: OK
          

  '/deck/{deck_id}/draw/':
    get:
      parameters:
        - name: deck_id
          in: path
          description: ID of shuffled cards
          required: true
          type: string
      responses:
        '200':
          description: OK
  '/deck/{deck_id}/shuffle/':
    get:
      parameters:
        - name: deck_id
          in: path
          description: ID of shuffled cards
          required: true
          type: string
      responses:
        '200':
          description: OK
  /deck/new/:
    get:
      responses:
        '200':
          description: OK
  /deck/{deck_id}/pile/{pile_name}/add/:
    get:
      parameters: 
      - name: deck_id
        in: path
        required: true
        type: string
      - name: pile_name
        in: path
        required: true
        type: string
      - name: cards
        in: query
        required: true
        type: string
      responses:
        200:
          description: OK
          
  /deck/{deck_id}/pile/{pile_name}/shuffle/:
    get:
      parameters: 
      - name: deck_id
        in: path
        required: true
        type: string
      - name: pile_name
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
  
  /deck/{deck_id}/pile/{pile_name}/list/:
    get:
      parameters: 
      - name: deck_id
        in: path
        required: true
        type: string
      - name: pile_name
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
  /deck/{deck_id}/pile/{pile_name}/draw/:
    get:
      parameters: 
      - name: deck_id
        in: path
        required: true
        type: string
      - name: pile_name
        in: path
        required: true
        type: string
      - name: cards
        in: query
        required: true
        type: string
      - name: deck_count
        in: query
        required: true
        type: integer
        default: 1
        collectionFormat: multi
      responses:
        200:
          description: OK
          
  /deck/{deck_id}/draw/bottom/:
    get:
      parameters:
        - name: deck_id
          in: path
          description: ID of shuffled cards
          required: true
          type: string
      responses:
        200:
          description: OK